@page
@model GymWebsite.Pages.Exercises.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Exercise</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Exercise.Workout.WorkoutName" class="control-label"></label>
                <!--<select asp-for="Exercise.WorkoutID" class ="form-control" asp-items="ViewBag.WorkoutName"></select>-->
                @if (@TempData["id"] == null)
                {
                    <select asp-for="Exercise.WorkoutID" class="form-control" asp-items="ViewBag.WorkoutName"></select>
                }
                else
                {
                    <input asp-for="@ViewData["WorkoutName"]" disabled="disabled" class="form-control" asp-items="ViewBag.WorkoutName" />
                }
            </div>
            <div class="form-group">
                <label asp-for="Exercise.Name" class="control-label"></label>
                <input asp-for="Exercise.Name" class="form-control" />
                <span asp-validation-for="Exercise.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Exercise.Reps" class="control-label"></label>
                <input asp-for="Exercise.Reps" class="form-control" />
                <span asp-validation-for="Exercise.Reps" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Exercise.Sets" class="control-label"></label>
                <input asp-for="Exercise.Sets" class="form-control" />
                <span asp-validation-for="Exercise.Sets" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Exercise.Weight" class="control-label"></label>
                <input asp-for="Exercise.Weight" class="form-control" />
                <span asp-validation-for="Exercise.Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @if (@TempData["id"] == null)
    {
        <a asp-page="Index">Back to Exercises</a>
    }
    else
    {
        <a asp-page="../Workouts/Index">Back to Workouts</a>
        <a asp-page="Index">Back to Exercises</a>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
